@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berlingske Serif";
  src: url("/fonts/berlingske/BerlingskeSerif-Bold.woff2") format("woff2"),
    url("/fonts/berlingske/BerlingskeSerif-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --heebo-font: "Heebo", sans-serif;
  --berlingske-font: "Berlingske Serif", serif;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom Styles */
.custom-checkbox {
  @apply relative inline-flex items-center;

  input {
    @apply opacity-0 w-0 h-0;
  }

  .checkmark {
    @apply inline-block h-5 w-5 rounded relative;
  }

  input:checked + .checkmark::after {
    content: "";
    @apply absolute left-1/2 top-1/2 w-1.5 h-2.5 border-white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.font-heebo-normal {
  font-weight: 400;
  font-family: var(--heebo-font);
}

.font-heebo-medium {
  font-weight: 500;
  font-family: var(--heebo-font);
}

.font-heebo-bold {
  font-weight: 700;
  font-family: var(--heebo-font);
}

.font-berlingske-semibold {
  font-weight: 600;
  font-family: var(--berlingske-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--heebo-font);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background: linear-gradient(350.87deg, #c1963b -21.67%, #745a23 130.38%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(
    180deg,
    rgba(193, 150, 59, 0.1) 0%,
    rgba(116, 90, 35, 0.1) 100%
  );
}
